{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <!-- 
    - primary meta tag
    -->
    <title>Centrale Petshop 2023</title>

    <!-- 
    - favicon
    -->
    <link rel="shortcut icon" type = 'image/x-icon' href="{% static 'favicon.svg' %}">

    <!-- 
    - custom css link
    -->
    <link rel="stylesheet" type = 'text/css' href="{% static 'css/style.css' %}">

    <!-- 
    - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap"
    rel="stylesheet">
</head>

    <body id="top">

        <!-- 
        - #HEADER
        -->

        <header class="header" data-header>
            <div class="container">

                <button class="nav-toggle-btn" aria-label="toggle manu" data-nav-toggler>
                    <ion-icon name="menu-outline" aria-hidden="true" class="menu-icon"></ion-icon>
                    <ion-icon name="close-outline" aria-label="true" class="close-icon"></ion-icon>
                </button>

                <a href="#" class="logo">ECM Petshop</a>

                <nav class="navbar" data-navbar>
                    <ul class="navbar-list">
                        {% if user.is_superuser %}
                        <li class="navbar-item">
                            <a href="{% url 'admin' %}" class="navbar-link" data-nav-link>Admin</a>
                        </li>

                        <li class="navbar-item">
                            <a href="{% url 'shops' %}" class="navbar-link" data-nav-link>StatusOfAnimals</a>
                        </li>
                        {% endif %}

                        <li class="navbar-item">
                            <a href="#home" class="navbar-link" data-nav-link>Home</a>
                        </li>

                        <li class="navbar-item">
                            <a href="#latestoffers" class="navbar-link" data-nav-link>Offers</a>
                        </li>

                        <li class="navbar-item">
                            <a href="#shop" class="navbar-link" data-nav-link>Shop</a>
                        </li>

                        <li class="navbar-item">
                            <a href="#nextfriend" class="navbar-link" data-nav-link>Your Next Friend</a>
                        </li>

                        <li class="navbar-item">
                            <a href="#footer" class="navbar-link" data-nav-link>Contact</a>
                        </li>

                        <li class="navbar-item">
                            <a href="{% url 'terminer_la_session' %}" class="navbar-link" data-nav-link>Log Out</a>
                        </li>

                    </ul>

                </nav>

                <div class="header-actions">
                    <button id="carrito" class="action-btn" data-cart-url="{% url 'cart' %}">
                        <ion-icon id="carrito-icon" name="cart" aria-hidden="true"></ion-icon>
                        <span class="btn-badge" id="carrito-count"> {{cart_count}}</span>
                    </button>
        
                    <script>
                        window.addEventListener('scroll', function () {
                            var carritoIcon = document.getElementById('carrito-icon');
                            var scrollThreshold = 300; // Puedes ajustar este valor según tus necesidades
                    
                            // Verificar si la posición de desplazamiento es mayor que el umbral
                            if (window.scrollY > scrollThreshold) {
                                carritoIcon.setAttribute('name', 'cart');
                            } else {
                                carritoIcon.setAttribute('name', 'cart-outline');
                            }
                        });
                    </script>
                
                </div>

            </div>
        </header>

        <main>
            <article>

            <!-- 
            - #HERO
            -->
            <section class="section hero has-bg-image" id="home" aria-label="home"style="background-image: url('{% static 'images/hero-banner.jpg' %}')">
            <div class="container">

                <h1 class="hero-text">Sale up to 40% off today</h1>

                <a href="#shop" class="btn">Shop Now</a>

            </div>
            </section>





            <!-- 
            - #LATEST OFFERS
            -->

            <section class="section category" id = "latestoffers" aria-label="category">
            <div class="container">

                <h2 class="h2 section-title">
                <span class="span">Don't m</span>iss it!
                </h2>

                <ul class="has-scrollbar">

                    <li class="scrollbar-item">
                        <div class="category-card">
                            <figure class="card-banner img-holder" style="--width: 330; --height: 300;">
                                <img src='{% static "images/catfood.jpeg" %}' width="330" height="300" loading="lazy" alt="Cat Food"
                                class="img-cover">
                            </figure>

                            <h3 class="h3">
                                <a href="#" class="card-title">Cat Food</a>
                            </h3>

                        </div>
                    </li>

                    <li class="scrollbar-item">
                        <div class="category-card">

                            <figure class="card-banner img-holder" style="--width: 330; --height: 300;">
                                <img src='{% static "images/cattoy.jpg" %}' width="330" height="300" loading="lazy" alt="Cat Toys"
                                class="img-cover">
                            </figure>

                            <h3 class="h3">
                                <a href="#" class="card-title">Cat Toys</a>
                            </h3>

                        </div>
                    </li>

                    <li class="scrollbar-item">
                        <div class="category-card">

                            <figure class="card-banner img-holder" style="--width: 330; --height: 300;">
                                <img src='{% static "images/dogfood.jpeg" %}' width="330" height="300" loading="lazy" alt="Dog Food"
                                class="img-cover">
                            </figure>

                            <h3 class="h3">
                                <a href="#" class="card-title">Dog Food</a>
                            </h3>

                        </div>
                    </li>

                    <li class="scrollbar-item">
                        <div class="category-card">

                            <figure class="card-banner img-holder" style="--width: 330; --height: 300;">
                                <img src='{% static "images/dogtoy.jpg" %}' width="330" height="300" loading="lazy" alt="Dog Toys"
                                class="img-cover">
                            </figure>

                            <h3 class="h3">
                                <a href="#" class="card-title">Dog Toys</a>
                            </h3>

                        </div>
                    </li>

                </ul>

            </div>
            </section>


            <!-- 
            - #PRODUCT
            -->

            <section class="section product" id="shop" aria-label="product">
                <div class="container">

                    <h2 class="h2 section-title">
                    <span class="span">Best</span> Seller
                    </h2>

                    <ul class="grid-list">

                        <li>
                            <div class="product-card">

                            <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                                <img src='{% static "images/shop1.jpeg" %}' width="360" height="360" loading="lazy"
                                alt="Commodo leo sed porta" class="img-cover default">
                                <img src='{% static "images/shop1.jpeg" %}' width="360" height="360" loading="lazy"
                                alt="Commodo leo sed porta" class="img-cover hover">
                            
                                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                                <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                                </button>
                            </div>

                            <div class="card-content">

                                <div class="wrapper">
                                    <div class="rating-wrapper">
                                        <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    </div>

                                    <span class="span">(45)</span>
                                </div>

                                <h3 class="h3">
                                <a href="#" class="card-title">NAME 1</a>
                                </h3>

                                <data class="card-price" value="15">$8.99</data>

                            </div>

                            </div>
                        </li>

                        <li>
                            <div class="product-card">

                            <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                                <img src='{% static "images/shop2.jpeg" %}' width="360" height="360" loading="lazy"
                                alt="Purus consequat congue sit" class="img-cover default">
                                <img src='{% static "images/shop2.jpeg" %}' width="360" height="360" loading="lazy"
                                alt="Purus consequat congue sit" class="img-cover hover">
                                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                                <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                                </button>
                            </div>

                            <div class="card-content">

                                <div class="wrapper">
                                    <div class="rating-wrapper">
                                        <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        <ion-icon name="star" aria-hidden="true"></ion-icon>
                                        <ion-icon name="star" aria-hidden="true" class="gray-star"></ion-icon>
                                    </div>

                                    <span class="span">(10)</span>
                                </div>

                                <h3 class="h3">
                                <a href="#" class="card-title">NAME 2</a>
                                </h3>

                                <data class="card-price" value="45">$45.00</data>

                            </div>

                            </div>
                        </li>

                        <li>
                            <div class="product-card">

                            <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                                <img src='{% static "images/shop3.jpeg" %}' width="360" height="360" loading="lazy"
                                alt="Morbi vel arcu scelerisque" class="img-cover default">
                                <img src='{% static "images/shop3.jpeg" %}' width="360" height="360" loading="lazy"
                                alt="Morbi vel arcu scelerisque" class="img-cover hover">
                            
                                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                                <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                                </button>
                            </div>

                            <div class="card-content">

                                <div class="wrapper">
                                <div class="rating-wrapper">
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                </div>

                                <span class="span">(200)</span>
                                </div>

                                <h3 class="h3">
                                <a href="#" class="card-title">NAME 3</a>
                                </h3>

                                <data class="card-price" value="45">$95.00</data>

                            </div>

                            </div>
                        </li>

                        <li>
                            <div class="product-card">

                            <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                                <img src='{% static "images/shop4.jpeg" %}' width="360" height="360" loading="lazy"
                                alt="Morbi vel arcu scelerisque" class="img-cover default">
                                <img src='{% static "images/shop4.jpeg" %}' width="360" height="360" loading="lazy"
                                alt="Morbi vel arcu scelerisque" class="img-cover hover">
                                
                                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                                <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                                </button>
                            </div>

                            <div class="card-content">

                                <div class="wrapper">
                                <div class="rating-wrapper gray">
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                </div>

                                <span class="span">(0)</span>
                                </div>

                                <h3 class="h3">
                                <a href="#" class="card-title">NAME 4</a>
                                </h3>

                                <data class="card-price" value="49">$7.99</data>

                            </div>

                            </div>
                        </li>

                        <li>
                            <div class="product-card">

                            <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                                <img src='{% static "images/shop5.jpg" %}' width="360" height="360" loading="lazy"
                                alt="Morbi vel arcu scelerisque" class="img-cover default">
                                <img src='{% static "images/shop5.jpg" %}' width="360" height="360" loading="lazy"
                                alt="Morbi vel arcu scelerisque" class="img-cover hover">
                                
                                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                                <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                                </button>
                            </div>

                            <div class="card-content">

                                <div class="wrapper">
                                <div class="rating-wrapper">
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    
                                </div>

                                <span class="span">(7)</span>
                                </div>

                                <h3 class="h3">
                                <a href="#" class="card-title">NAME 5</a>
                                </h3>

                                <data class="card-price" value="85">$12.90</data>

                            </div>

                            </div>
                        </li>

                        <li>
                            <div class="product-card">

                            <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                                <img src='{% static "images/shop6.jpg" %}' width="360" height="360" loading="lazy"
                                alt="Nam justo libero porta ege" class="img-cover default">
                                <img src='{% static "images/shop6.jpg" %}' width="360" height="360" loading="lazy"
                                alt="Nam justo libero porta ege" class="img-cover hover">
                                
                                <button class="card-action-btn" aria-label="add to card" title="Add To Card">
                                <ion-icon name="bag-add-outline" aria-hidden="true"></ion-icon>
                                </button>
                            </div>

                            <div class="card-content">

                                <div class="wrapper">
                                <div class="rating-wrapper gray">
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                    <ion-icon name="star" aria-hidden="true"></ion-icon>
                                </div>

                                <span class="span">(0)</span>
                                </div>

                                <h3 class="h3">
                                <a href="#" class="card-title">NAME 6</a>
                                </h3>

                                <data class="card-price" value="85">$20.00</data>

                            </div>

                            </div>
                        </li>
                    </ul>

                </div>
            </section>


            <!-- 
            - #NEXT FRIEND
            -->
            <section class="section product" id="nextfriend" aria-label="product">

                <h2 class="h2 section-title" onmouseover="changeColor(this)" onmouseout="restoreColor(this)">
                    <span class="span">Your next best friend</span> is waiting for you!
                </h2>
                <ul class="grid-list justify-content-center align-items-center">
                        {%for i in prop%}
                        <div class="row">
                            <div class="product-card">
                                    <div class="col">
                                        <div class="card h-100" style = "width: 18rem; margin: 5;">
                                            <img src="{{i.imageURL}}" class="car-img-top" alt="..." style="height: 200px; object-fit: cover;">
                                            <div class="card-body">
                                                <h5 class="card-title"> {{i.name}} </h5>
                                                <data class="card-price"> $ {{i.price}} </data>
                                                <p class="card-text"> {{i.description}}</p>
                                                <p class="card-text"> SOLD: {{i.sold}}</p>
                                                <form id="addToCartForm" method="post" action="{% url 'product_list' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="product_name" value="{{ i.name }}">
                                                    <input type="hidden" name="product_price" value="{{ i.price }}">
                                                    <button type="submit" class="btn btn-primary btn-add-to-cart" {% if i.sold == 'Yes' %}disabled{% endif %}>Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                            
                        </div>  
                        {%endfor%}     
                </ul>
            </section>

            <script>
                function scrollToSection(sectionId) {
                    var targetSection = document.querySelector(sectionId);
                    if (targetSection) {
                        targetSection.scrollIntoView({ behavior: 'smooth' });
                    }
                }
            
                // Escuchar el evento de envío del formulario "Add to cart"
                var addToCartForm = document.getElementById('addToCartForm');
                if (addToCartForm) {
                    addToCartForm.addEventListener('submit', function (event) {
                        // Prevenir el envío del formulario para gestionar la lógica manualmente
                        event.preventDefault();
            
                        // Realizar la lógica de agregar al carrito aquí...
            
                        // Después de agregar al carrito, desplazarse a la sección específica
                        scrollToSection('#nextfriend');
            
                        // Ahora, puedes enviar el formulario manualmente si es necesario
                        addToCartForm.submit();
                    });
                }
            </script>


            <!-- 
            - #PARTNERS
            -->

            <section class="section product" id="shop" aria-label="product">
                <div class="container">

                    <h2 class="h2 section-title">
                    <span class="span">Part</span>ners
                    </h2>

                    <ul class="grid-list">

                        <li>
                            <div class="product-card">
                                <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                                    <img src='{% static "images/RTM.jpg" %}' width="360" height="360" loading="lazy"
                                    alt="Commodo leo sed porta" class="img-cover default">
                                    <img src='{% static "images/RTM.jpg" %}' width="360" height="360" loading="lazy"
                                    alt="Commodo leo sed porta" class="img-cover hover">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="product-card">
                                <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                                    <img src='{% static "images/amazon.jpg" %}' width="360" height="360" loading="lazy"
                                    alt="Purus consequat congue sit" class="img-cover default">
                                    <img src='{% static "images/amazon.jpg" %}' width="360" height="360" loading="lazy"
                                    alt="Purus consequat congue sit" class="img-cover hover">
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="product-card">

                            <div class="card-banner img-holder" style="--width: 100; --height: 100;">
                                <img src='{% static "images/partner3.jpg" %}' width="300" height="300" loading="lazy"
                                alt="Morbi vel arcu scelerisque" class="img-cover default">
                                <img src='{% static "images/partner3.jpg" %}' width="360" height="360" loading="lazy"
                                alt="Morbi vel arcu scelerisque" class="img-cover hover">
                            </div>
                            </div>
                        </li>

                        <li>
                            <div class="product-card">

                                <div class="card-banner img-holder" style="--width: 360; --height: 360;">
                                    <img src='{% static "images/partner1.svg" %}' width="360" height="360" loading="lazy"
                                    alt="Morbi vel arcu scelerisque" class="img-cover default">
                                    <img src='{% static "images/partner1.svg" %}' width="360" height="360" loading="lazy"
                                    alt="Morbi vel arcu scelerisque" class="img-cover hover">
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </section>

            </article>
        </main>





        <!-- 
        - #FOOTER
        -->
        <section class="#" id="footer" aria-label="product">
        <footer class="footer" style="background-image: url('{% static 'images/footer-bg.jpg' %}')">

            <div class="footer-top section">
            <div class="container">

                <div class="footer-brand">

                <a href="#" class="logo">ECM Petshop</a>

                <p class="footer-text">
                    If you have any question, please contact us at <a href="mailto:centralesupport@gmail.com"
                    class="link">centralesupport@gmail.com</a>
                </p>

                <ul class="contact-list">

                    <li class="contact-item">
                    <ion-icon name="location-outline" aria-hidden="true"></ion-icon>

                    <address class="address">
                        38 Rue Frédéric Joliot Curie, 13013 Marseille
                    </address>
                    </li>

                    <li class="contact-item">
                    <ion-icon name="call-outline" aria-hidden="true"></ion-icon>

                    <a href="tel:+16234567891011" class="contact-link">04 91 05 45 45</a>
                    </li>

                </ul>

                <ul class="social-list">

                    <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    </li>

                    <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                    </li>

                    <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-snapchat"></ion-icon>
                    </a>
                    </li>

                    <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    </li>

                </ul>

                </div>

                <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Corporate</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Careers</a>
                </li>

                <li>
                    <a href="#" class="footer-link">About Us</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Contact Us</a>
                </li>

                <li>
                    <a href="#" class="footer-link">FAQs</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Vendors</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Affiliate Program</a>
                </li>

                </ul>

                <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Information</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Online Store</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Privacy Policy</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Refund Policy</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Shipping Policy</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Terms of Service</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Track Order</a>
                </li>

                </ul>

                <ul class="footer-list">

                <li>
                    <p class="footer-list-title">Services</p>
                </li>

                <li>
                    <a href="#" class="footer-link">Grooming</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Positive Dog Training</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Veterinary Services</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Petco Insurance</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Pet Adoption</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Resource Center</a>
                </li>

                </ul>

            </div>
            </div>

            <div class="footer-bottom">
            <div class="container">

                <p class="copyright" style="text-align: center;">
                &copy; 2023 Info2 by <a href="#" class="copyright-link">fernandolalanne</a>
                </p>

                <!-- <img src="./assets/images/payment.png" width="397" height="32" loading="lazy" alt="payment method" class="img"> -->
                <img src="{% static 'images/payment.png' %}" width="397" height="32" loading="lazy" alt="payment method" class="img">

            </div>
            </div>

        </footer>
        </section>




        <!-- 
        - #BACK TO TOP
        -->

        <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
        <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
        </a>







        <!-- 
        - custom js link
        -->
        <script type = 'text/javascript' src='{% static "js/script.js" %}'></script>

        <!-- 
        - ionicon link
        -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </body>

</html>