<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Estilos personalizados */
    .custom-alert {
      background-color: #edd7d4; /* Color de fondo verde claro */
      border-color: #040202; /* Color del borde */
      color: #010201; /* Color del texto */
    }
  </style>
</head>
<body>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Les données ne sont pas correctes ou ne sont pas enregistrées</h4>
    <p>{{ error_message }}</p>
    <p>Pour réessayer, cliquez <a href="signin" class="alert-link">ici</a>.</p>
    <hr>
</div>


</body>
</html>

